{% include "includes/header.html.twig" %}

<h1>Bienvenue</h1>
<a href={{ route('login')}}>Se connecter</a>
<a href={{ route('register')}}>Créer un compte</a>

{% include "includes/footer.html.twig" %}