{% include "includes/header.html.twig" %}

<h1>Tableau de bord</h1>

    <ul>
        <li>{{first_name}} {{last_name}}</li>
        <li>{{email}}</li>
        <li>Créé le : {{created_at}}</li>
    </ul>

{% include "includes/footer.html.twig" %}